.image-overlay {
    position: relative;
  }
  
  .image-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    z-index: 1; 
    border-radius: 0.5rem; /* This corresponds to the 'rounded-lg' class in Tailwind CSS */
  }
  
  .image-overlay p {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: white;
  }

  @media (max-width: 640px) {
    .fade-from-left-mobile {
      opacity: 0;
      transform: translateX(-100px);
      transition: opacity 2s, transform 2s;
    }
  
    .fade-from-left-mobile.loaded {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @media (max-width: 640px) {
    .fade-from-right-mobile {
      opacity: 0;
      transform: translateX(100px);
      transition: opacity 2s, transform 2s;
    }
  
    .fade-from-right-mobile.loaded {
      opacity: 1;
      transform: translateX(0);
    }
  }